<%- include("partials/header.ejs") %>
<div class="min-vh-100">
    <div class="container my-5">
        <div class="row">
            <div class="abt col-13  ">
                <div class="content  p-5 mb-3">
                    <h1>About Me</h1>
                    <img class="profile" src="images/port.jpeg"
                        alt="cat profile">
                    <p class="txt">
                        "Passionate full-stack web developer with a keen eye for
                        detail and a commitment to
                        creating seamless, user-friendly experiences. Proficient
                        in a range of technologies,
                        I bring creative solutions to life. Eager to share
                        insights, tips, and the latest trends
                        in web development on this blog. Let's code a better
                        tomorrow!"</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>