body {
  background-color: #030303;
  font-family: 'Open Sans', sans-serif;
}

.gg {
  column-gap: 40px;
}

.abt {
  justify-content: center;
  text-align: center;
}

.txt {
  text-align: justify;
}

#create-edit {
  height: 100%;
}

.content {
  background-color: #1A1A1B;
  color: #D6D9DB;
  border-radius: 20px;
}

.content ul {
  list-style: none;
}

.content a {
  color: #D6D9DB;
}

.content a:hover {
  color: #88939b;
}

.pt-serif {
  font-family: 'PT Serif', serif;
}



.button-rad {
  border-radius: 30px;
}

.dark-form {
  background-color: #1A1A1B;
  color: white !important;
}

.dark-form::placeholder {
  color: #D7DADC;
}

.dark-form:focus {
  background-color: #1A1A1B;
  border-color: #88939b;
}

.profile {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

form {
  margin-top: 50px;
}

.feedback-input {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #909295;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #72f17c;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #a0a5ac;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #1f2329;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #6c8d6b;
}

.dlt {
  margin-top: 0%;
}